.footer {
  display: block;
  width: 100%;
  min-width: 320px;
  background-color: $colorBgDark;
  border-top: 2px solid gray;

  &__container {
    max-width: 1000px;
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: darken($cWhite, 8%);
  }
}


/* Arrow-up*/
.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparentize($cBlack, 0.5);
  cursor: pointer;
  z-index: 5;

  &:before {
    content: '';
    display: inline-block;
    margin: auto;
    @extend .svg_arrow-up;
  }

  &:hover {
    background-color: transparentize($cBlack, 0.2);
  }

  &:active {
    box-shadow: 0 0 12px $colorGold;
  }
  
  &_hidden {
    display: none;
  }
}

