.footer {
  display: block;
  width: 100%;
  min-width: 320px;
  background-color: $colorBgDark;
  border-top: 2px solid gray;

  &__container {
    max-width: 1000px;
    width: 95%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: darken($cWhite, 8%);
  }
}


/* Arrow-up*/
.arrow_up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(img/arrow_up.jpg) no-repeat 0 0;
  cursor: pointer;
  z-index: 5;

  &:hover {
    box-shadow: 0 0 12px gold;
  }

  &:active {
    opacity: 0.8;
  }
}

