//Variables
$colorGoldDark: #ba9d0b;
$colorGold: #ebc402;
$colorCode: #670d9b;
$colorCodeBorder: #c0c0c0;
$colorCodeBg: #e0e0e0;

$colorBgDark: #160121;
$colorBg: #260338;
$colorBgLight: #3D1154;
$colorWarning: #ffffbb;
$cWhite: #fff;
$cBlack: #000;